- provide(:title, "Edit Profile")
%h1 Update Your Profile
.row
	.span6.offset3
		= for_for (@critic) do |f|
			= render 'shared/error_messages'
			= f.label :name
			= f.text_field :name
			= f.label :email
			= f.text_field :email
			= f.label :password
			= f.password_field :password
			= f.label :password_confirmation, "Confirm Password"
			= f.password_field :password_confirmation
			= f.submit "Save Changes", class: "btn btn-large btn-primary"
		= avatar_for @critic
		%a{href: "http://gravatar.com/emails"} change