<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @critic.name %>
</p>

<p>
  <b>Email:</b>
  <%= @critic.email %>
</p>


<%= link_to 'Edit', edit_critic_path(@critic) %> |
<%= link_to 'Back', critics_path %>
