<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.esrb %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Console:</b>
  <%= @game.console %>
</p>

<p>
  <b>Players:</b>
  <%= @game.players %>
</p>

<p>
  <b>Image location:</b>
  <%= @game.image_location %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
