%html
	%head
		%title UReview
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags


	%body
		%header.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.container
					= link_to "UReview", '/static_pages/home', id: "logo"
					%nav
						%ul.nav.pull-right
							%li= link_to "Home", root_path
							- if signed_in?
								%li= link_to "Critics", critics_path
								%li#fat-menu.dropdown
									%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
										Account
										%b.caret
									%ul.dropdown-menu
										%li= link_to "Profile", current_critic
										%li= link_to "Settings", edit_critic_path(current_critic)
										%li.divider
										%li
											= link_to "Sign Out", signout_path, method: "delete"
							- else
								%li= link_to "Sign In", signin_path
		.container
			= yield